:root{
    --cor-fundo: #FCE4EC;
    --cor-principal: #F8BBD0;
    --cor-secundaria: #F48FB1; 
    --cor-destaque: #F06292;
    --cor-texto: #880E4F;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 3rem;
    color: var(--cor-destaque);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background: linear-gradient(45deg, var(--cor-destaque), var(--cor-principal));
    color: var(--cor-texto);
    border: none;
    border-radius: 25px;
    padding: 15px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(1.05);
}

.hr-decorativa {
    border: none;
    height: 2px;
    background: linear-gradient(90deg, rgba(240,98,146,1) 0%, rgba(255,255,255,0) 50%, rgba(240,98,146,1) 100%);
    margin: 20px 0;
}
